.Textimonials_cover {
  width: 100%;
  height: 750px;
  position: relative;
  background: #fff;
}
.Textimonials_box {
  width: 1200px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Textimonials_title {
  margin-left: 100px;
  margin-bottom: 0;
  font-weight: 700;
  color: #1e76ec;
  margin-top: 120px;
}
.leftside {
  left: 84px;
  z-index: 5001;
  width: 40px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.leftside img {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rightside {
  position: absolute;
  right: 84px;
  top: 50%;
  z-index: 5001;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  cursor: pointer;
}
.rightside img {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Textimonials_change {
  overflow: hidden;
  width: 1000px;
  height: 400px;
  position: absolute;
  left: 100px;
  background: #fff;
  mix-blend-mode: normal;
  top: 160px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
