.V_Classification_main {
  position: relative;
  margin-top: 80px;
}
.V_Classification_box {
  width: 870px;
  overflow: hidden;
}
.V_Classification_title {
  margin-top: 40px;
}
.V_Classification_img {
  margin: 0;
  width: 468px;
  height: 260px;
  float: left;
  border-radius: 8px;
}
.V_Classification_img_text {
  float: left;
  margin-left: 20px;
}
.V_Classification_img_text p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 14px;
  color: #20252a;
}
.V_Classification_img_text > div {
  width: 100%;
  overflow: hidden;
}
.V_Classification_no {
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  color: #7b7e85;
  padding: 8px 20px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.V_Classification_title .main {
  height: 36px;
  line-height: 36px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  font-weight: 300;
}
.V_Classification_title .sub {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
  font-weight: lighter;
}
