.cc_cover_page {
  width: 100%;
  height: 538px;
  background: #ffffff;
  position: relative;
}
.cc_main_view {
  width: 1120px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cc_left_box {
  margin-right: 40px;
  color: #0948e6;
  position: relative;
  float: left;
  width: 540px;
  height: 370px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.cc_left_main_text {
  width: 448px;
  height: 150px;
  left: 40px;
  top: 81px;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  position: relative;
  margin: 0;
}
.cc_left_sub_button {
  position: absolute;
  width: 148px;
  height: 44px;
  background: #000;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  left: 41px;
  bottom: 55px;
  cursor: pointer;
}
.cc_right_sub_button {
  position: absolute;
  width: 148px;
  height: 44px;
  background: #000;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  left: 41px;
  bottom: 55px;
  cursor: pointer;
}
.cc_right_box > div {
  position: absolute;
  width: 148px;
  height: 44px;
  background: #000;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  left: 41px;
  bottom: 55px;
  cursor: pointer;
}
.cc_right_box {
  position: relative;
  float: left;
  width: 540px;
  height: 370px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}
.cc_right_main_text {
  width: 448px;
  height: 150px;
  left: 40px;
  top: 81px;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  position: relative;
  margin: 0;
}
.cc_cover_page a {
  color: #fff !important;
}
