.cover {
  width: 100%;
  height: 120px;
  background: rgba(247, 247, 249, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.clients {
  width: 100%;
  height: 106px;
  display: flex;
  margin-left: 2rem;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LG {
  height: 34px;
  width: 173px;
  order: 0;

  padding: 2rem;
}
.NAVER {
  height: 34px;
  width: 173px;
  padding: 2rem;
  order: 1;
}
.LOTTE {
  height: 34px;
  width: 173px;
  order: 2;
  padding: 2rem;
}
.SK {
  height: 34px;
  width: 173px;
  padding: 2rem;
  order: 3;
}
.KAIST {
  height: 34px;
  width: 173px;
  padding: 2rem;
  order: 4;
}
.NIA {
  height: 34px;
  width: 173px;
  margin-right: 2rem;
  order: 5;
}
