.Cashmission_cover {
  position: relative;
  width: 100%;
  height: 1390px;
  background: #f6f9fc;
  overflow: hidden;
}
.Cashmission_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1390px;
}
.Cashmission_box1 .main {
  margin-left: 40px;
  margin-top: 120px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #1e76ec;
}
.Cashmission_box1 .title {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  width: 450px;
}
.Cashmission_box1 .sub {
  font-size: 18px;
  line-height: 28px;
  margin-left: 40px;
  width: 494px;
  color: #7b7e85;
}
.Cashmission_box2 {
  position: absolute;
  top: 730px;
  left: 614px;
}
.Cashmission_box2 .title {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  width: 550px;
}
.Cashmission_box2 .sub {
  font-size: 18px;
  line-height: 28px;
  margin-left: 40px;
  width: 494px;
  color: #7b7e85;
}
.Cashmission_cover .img1 {
  position: absolute;
  top: 120px;
  left: 614px;
}
.Cashmission_cover .img2 {
  position: absolute;
  left: 40px;
  top: 730px;
}
