@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
.Header_cover {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10000;
}
.Header_main_page {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 24px;
  width: 1200px;
  transform: translate(-50%, -50%);
}
.gohome {
  position: relative;
  left: 40px;
  cursor: pointer;
}
.Header_text_list {
  position: relative;
  float: right;
  margin-right: 157px;
}
.Header_text {
  font-family: "Noto Sans", sans-serif;
  float: left;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.languagechange {
  color: #fff;
  position: absolute;
  right: 40px;
  top: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  height: 24px;
  cursor: pointer;
}
.languageimg {
  width: 16px;
  float: left;
  color: #fff;
}
.languageimg img {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  color: #fff;
}
.languagechange .English {
  display: inline-block;
  height: 24px;
  margin-left: 4px;
  margin-top: 0;
}
.dropdown {
  position: absolute;
  margin-top: 10px;
  background: #fff;
  width: 92px;
  height: 88px;
  border: 1px solid #c8cace;
  border-radius: 4px;
  padding-top: 8px;
}
.dropdown div {
  height: 40px;
  width: 100%;
  cursor: pointer;
  position: relative;
  color: #34373b;
}
.dropdown-english {
  width: 60px !important;
  height: 24px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  line-height: 24px !important;
  transform: translate(-50%, -50%) !important;
}
.dropdown-korean {
  width: 60px !important;
  height: 24px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  line-height: 24px !important;
  transform: translate(-50%, -50%) !important;
}
