.coverpage {
  background-color: white;
  background-position: 15%;
  widows: 100%;
  height: 1750px;
  flex: none;
  order: 2;
  align-self: center;
}
.coverstair {
  width: 100%;
  position: absolute;
  height: 24px;
}
.product {
  position: absolute;
  left: 15%;
  top: 120px;
  color: blue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.covermaintext {
  position: absolute;
  width: 1103px;
  height: 137px;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 80px;
  margin-top: 150px;
  left: 15%;
  padding: 0;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -1px;
}
.firsttext {
  margin-top: 60px;
  color: blue;
  position: absolute;
}
.secondtext {
  position: absolute;
  color: black;
  margin-top: 220px;
}
.mainview {
  display: flex;
  width: 1200px;
  height: 820px;
  margin-top: 467px;
  left: 8.88%;
  position: absolute;
  align-self: center;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 10px 18px 30px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.data {
  display: flex;
  flex-direction: row;
  padding: 0px;
  position: absolute;
  width: 1065px;
  height: 40px;
  left: 15%;
  right: 7.42%;
  margin-top: 387px;
  background-color: white;
}
.image {
  width: 165px;
  height: 40px;
  top: calc(50% - 40px / 2);
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 0px;
}
.coverimagetext {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 5%;
  cursor: pointer;
  margin-left: 10%;
}
.video {
  width: 150px;
  height: 40px;
  left: calc(50% - 150px / 2 - 252.5px);
  top: calc(50% - 40px / 2);
  flex: none;
  order: 1;
  align-self: center;
  margin: 40px 0px;
}
.covervideotext {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  color: #999999;
  margin-top: 5%;
  margin-left: 15%;
}
.audio {
  position: static;
  width: 150px;

  height: 40px;
  left: calc(50% - 150px / 2 - 62.5px);
  top: calc(50% - 40px / 2);
  flex: none;
  order: 2;
  align-self: center;
  margin: 40px 0px;
}
.coveraudiotext {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #999999;
  margin-top: 5%;
  margin-left: 15%;
}
.text-document {
  position: static;
  width: 230px;
  height: 40px;
  left: calc(50% - 230px / 2 + 167.5px);
  top: calc(50% - 40px / 2);

  flex: none;
  order: 3;
  align-self: center;
  margin: 40px 0px;
}
.covertext-documenttext {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #999999;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 15%;
}
.anythingyouwant {
  position: static;
  width: 210px;
  height: 40px;
  left: calc(50% - 210px / 2 + 427.5px);
  top: calc(50% - 40px / 2);
  flex: none;
  order: 4;
  align-self: center;
  margin: 40px 0px;
}
.coveranythingyouwanttext {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  color: #999999;
  margin-top: 4%;
  margin-left: 15%;
}
.indexes {
  width: 138px;
  height: 680px;
  margin-left: 5%;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 60px;
}
.collectionbackground {
  display: flex;
  flex-direction: row;
  background: #1e76ec;
  border-radius: 40px;
  width: 108px;
  height: 40px;
}
.collection {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #7b7e85;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tagging {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #7b7e85;
  cursor: pointer;
  margin-top: 42px;
  margin-left: 10%;
}
.classification {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.bounding {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.polyline {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  line-height: 20px;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.polygon {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.segmentation {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.key-point {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #7b7e85;
  cursor: pointer;
  margin-top: 42px;
  margin-left: 10%;
}
.brush {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}
.ocr {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #7b7e85;
  margin-top: 42px;
  cursor: pointer;
  margin-left: 10%;
}
.imagetotext {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #7b7e85;
  margin-top: 42px;
  margin-left: 10%;
}

.undertext {
  position: absolute;
  width: 1120px;
  height: 272px;
  margin-top: 1400px;
  left: 12%;
}
.locationtext {
  width: 230px;
  height: 36px;
  margin-top: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.locationsubtext {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.qualityimg {
  margin-left: 25%;
  margin-top: -11%;
}
.qualitytext {
  width: 220px;
  height: 162px;
  margin-top: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.qualitysubtext {
  color: #4f4f4f;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 220px;
  height: 100px;
  margin-top: 24px;
}
span {
  color: #1e76ec;
}
.privacyimg {
  position: absolute;
  margin-top: 1400px;
  margin-left: 53%;
}
.privacytext {
  width: 139px;
  height: 16px;
  margin-top: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.privacysubtext {
  width: 220px;
  height: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-top: 24px;
}
.aiimg {
  position: absolute;
  margin-top: 1400px;
  margin-left: 75%;
}
.aitext {
  margin-top: 23px;
  width: 139px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.aisubtext {
  margin-top: 24px;
  width: 220px;
  height: 120px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.product_background_img {
  width: 100%;
  background-size: cover;
  height: 1750px;
}
.product_image_img {
  width: 36px;
  height: 40px;
}
.product_video_img {
  width: 36px;
  height: 40px;
}
.product_audio_img {
  width: 36px;
  height: 40px;
}
.product_text_img {
  width: 36px;
  height: 40px;
}
.product_last_img {
  width: 36px;
  height: 40px;
}
