.Contact_cover {
  width: 100%;
  height: 1314px;
  background: url("img/contact\ back.png");
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}
.Contact_box {
  position: absolute;
  width: 1200px;
  left: 50%;
  transform: translate(-50%);
}
.Contact_box .cover_title {
  margin-top: 200px;
  margin-bottom: 16px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 1rem;
  color: #1e76ec;
}
.Contact_main_box {
  margin-left: 40px;
  margin-top: 80px;
  position: relative;
}
.Contact_box .cover_main {
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 56px;
  line-height: 80px;
}
.Contact_box .cover_sub {
  font-size: 18px;
  line-height: 28px;
  color: #34373b;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 0;
}
.Contact_box_left {
  float: left;
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 10px 18px 30px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 742px;
  width: 580px;
}
.Contact_box_checkbox {
  position: relative;
  float: left;
  width: 220px;
  margin-top: 40px;
  margin-left: 40px;
}
.Contact_box_checkbox .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #0948e6;
  margin-bottom: 24px;
  margin-top: 0;
}
.Contact_checkbox {
  width: 100%;
  overflow: hidden;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.Contact_box_left img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 2px;
}
.Contact_checkbox p {
  float: left;
  height: 32px;
  margin-left: 0;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}
.Contact_inputes {
  width: 100%;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 33px;
  position: relative;
}
.Contact_input1 {
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 240px;
  margin-top: 33px;
}
.borderred {
  border: 1px solid red !important;
}
.Contact_input2 {
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 240px;
  margin-top: 33px;
}
.Contact_input3 {
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 240px;
}
.Contact_input4 {
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 240px;
}
.Contact_input5 {
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 500px;
}
.Contact_button {
  float: right;
  margin-right: 40px;
  width: 112px;
  height: 44px;
  background: #000;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  color: #fff;
}
.Contact_textarea {
  width: 500px;
  height: 124px;
  font-family: "Noto Sans";
  font-size: 16px;
  line-height: 24px;
  resize: none;
  border: 1px solid #e0e1e4;
  box-sizing: border-box;
  border-radius: 4px;
  float: left;
  padding: 12px 16px;
  color: #34373b;
  margin-bottom: 20px;
  margin-right: 20px;
}
.Contact_box_right {
  margin-left: 40px;
  width: 479px;
  overflow: hidden;
  float: left;
  background: #fff;
  mix-blend-mode: normal;
  box-shadow: 10px 18px 30px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 742px;
}
.Contact_box_right video {
  width: 479px;
  height: 270px;
  object-fit: contain;
}
.Contact_box_right .Contact_text1 {
  margin-left: 40px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: #7b7e85;
  margin-top: 40px;
  width: 400px;
}
.Contact_box_right .Contact_text2 {
  margin-top: 16px;
  font-weight: 700;
  margin-left: 40px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  color: #7b7e85;
}
.Contact_box_right img {
  width: 160px;
  height: 34px;
  margin-left: 40px;
  margin-top: 61px;
}
