.Footer_cover {
  width: 100%;
  height: 561px;
  position: relative;
}
.footer_first_line {
  border: 1px solid #e0e1e4;
  height: 0;
  position: relative;
}
.footer_second_line {
  top: 434px;
  border: 1px solid #e0e1e4;
  height: 0;
  position: relative;
}
.footer_main {
  position: absolute;
  width: 1040px;
  height: 170px;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}
.footer_main_list {
  margin-left: 114px;
  float: left;
}
.footer_block {
  float: left;
  margin-right: 122px;
}
.footer_li {
  margin-top: 10px;
  margin-bottom: 30px;
}
.li-title {
  font-weight: 700;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}
.li-sub {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  margin: 0;
  margin-top: 8px;
}
.footer_main img {
  float: left;
  cursor: pointer;
}
.footer_seconde_line_text {
  position: absolute;
  left: 200px;
  top: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #7583b4;
}
