@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  margin: 0;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
}
html {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} /*특정 부분 스크롤바 없애기*/
.box {
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
