.classification_cover_page {
  width: 260px;
  height: 253px;
  position: absolute;
  margin-left: 50%;
}
.classification_img {
  width: 100px;
  height: 100px;
  margin-left: 50%;
}
.classififcation_img_text {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #0948e6;
}
