.coverpage {
  background: url("secondpageback-img.png");
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  background-position: 20%;
  widows: 100%;
  height: 1750px;
}
.product {
  color: blue;
}
