.tagging_cover_page {
  width: 460px;
  height: 453px;
  margin-left: 50%;
  position: absolute;
}
.tagging_img {
  width: 500px;
  margin-left: 30%;
  height: 300px;
}
.tagging_img_text {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #0948e6;
}
